@media all and (max-width:767px){#main-nav .nav > li:hover > span.line, #main-nav .nav > li.active > span.line{background:none;}
.nav li.active{background-color:rgba(0, 154, 73, 1);}
.nav .search_box, .nav .search_content{display:none;}
footer .footer-col{height:auto;border-right:none;border-bottom:1px dotted #999999;padding-bottom:10px;}
footer .footer-col.last{border:none;}
#street_address, #search_address{margin-bottom:10px;}
#directionsPanel{padding:20px 15px;}
#main-nav .dropdown-menu{position:static !important;}
#top-banner{display:none;}
#routeForm label #routeStart, #routeForm label #routeVia, #routeForm label #routeEnd{width:90%;}
#routeForm label{width:99% !important;}
#routeForm .form-control{width:87% !important;}
}
@media all and (min-width:320px) and (max-width:413px){.map-point-info{width:150px;height:100%;}
#travel-mode{padding:0;}
#travel-mode span{margin-right:5px;}
.search-wrapper .search_content{background-color:rgba(0, 154, 73, 0.9);box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);position:absolute !important;right:-1px;top:51px;width:301px;z-index:99999;}
.search-wrapper .cse .gsc-search-button input.gsc-search-button-v2, .search-wrapper input.gsc-search-button-v2{padding:6px 11px !important;}
#directionsPanel{border:1px solid #aaaaaa;display:inline-block;font-size:15px;margin:20px auto;padding:20px 0;text-align:center;}
#logo-container img{max-width:100%;}
}
@media all and (min-width:413px) and (max-width:737px){.map-point-info{width:280px;height:100%;}
}
@media all and (min-width:768px){.col-sm-15{width:20%;float:left;}
ul.nav li.dropdown:hover ul.dropdown-menu{display:block;}
.navbar-header .search-wrapper{display:none;}
#logo-container{display:block;line-height:90px;vertical-align:middle;}
}
@media all and (min-width:768px) and (max-width:992px){#main-nav .nav > li > a{font-size:12px;padding-left:6px;padding-right:6px;}
#main-nav .nav > li.dropdown div{padding:14px 9px 13px;}
#main-nav-ul{padding:0 !important;}
}
@media (min-width:992px){.col-md-15{width:20%;float:left;}
}
@media (min-width:1200px){.col-lg-15{width:20%;float:left;}
#main-nav .nav > li > a{padding-left:16px;padding-right:16px;}
}